<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pf.play.rule.core.mapper.ConsumerFixedMapper">




    <!-- 定义数据库基本列,只适用代替单表的*-->
    <sql id="Base_Column_List">
        a.id,a.member_id,a.full_name,a.id_card,a.fixed_type,a.fixed_num,a.bank_name,a.create_time,a.update_time,a.yn
    </sql>

    <!-- 查询条件 -->
    <sql id="Example_Where_Clause">
        where 1=1
        <trim  suffixOverrides="," >
            <if test="id != null and id != '' " >
                and a.id = #{id}
            </if>
            <if test="memberId != null and memberId != '' " >
                and a.member_id = #{memberId}
            </if>
            <if test="fixedType != null and fixedType != '' " >
                and a.fixed_type = #{fixedType}
            </if>
            and a.yn = 0

        </trim>
    </sql>

    <!-- 查询条件_id -->
    <sql id="Example_Where_Clause_id">
        where 1=1
        <trim  suffixOverrides="," >
            <if test="id != null and id != '' " >
                and a.id = #{id}
            </if>
            and a.yn =  0
        </trim>
    </sql>


    <!-- 显示所有数据 -->
    <select id="findAll" resultType="com.pf.play.rule.core.model.consumer.ConsumerFixedModel">
        select
        <include refid="Base_Column_List" />
        from tb_pf_consumer_fixed a
        <include refid="Example_Where_Clause"/>
    </select>

    <!-- 查询列表 -->
    <select id="findByCondition" parameterType="Object" resultType="com.pf.play.rule.core.model.consumer.ConsumerFixedModel">
        select
        <include refid="Base_Column_List" />
        from tb_pf_consumer_fixed a
        <include refid="Example_Where_Clause"/>
        ORDER BY a.create_time DESC
    </select>

    <!-- 根据条件查询信息-->
    <select id="findByObject" parameterType="Object" resultType="com.pf.play.rule.core.model.consumer.ConsumerFixedModel">
        select
        <include refid="Base_Column_List" />
        from tb_pf_consumer_fixed a
        <include refid="Example_Where_Clause"/>
        limit 1
    </select>

    <!-- 根据id查询信息-->
    <select id="findById" parameterType="java.lang.Long" resultType="com.pf.play.rule.core.model.consumer.ConsumerFixedModel">
        select
        <include refid="Base_Column_List" />
        from tb_pf_consumer_fixed a
        <include refid="Example_Where_Clause_id"/>
    </select>


    <!-- 添加基本信息 -->
    <insert id="add" parameterType="com.pf.play.rule.core.model.consumer.ConsumerFixedModel" >
        <!--<selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">-->
        <!--SELECT LAST_INSERT_ID() as id-->
        <!--</selectKey>-->
        insert into tb_pf_consumer_fixed
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="memberId != null and memberId != '' " >
                member_id,
            </if>
            <if test="fullName != null and fullName != '' " >
                full_name,
            </if>
            <if test="idCard != null and idCard != '' " >
                id_card,
            </if>
            <if test="fixedType != null and fixedType != '' " >
                fixed_type,
            </if>
            <if test="fixedNum != null and fixedNum != '' " >
                fixed_num,
            </if>
            <if test="bankName != null and bankName != '' " >
                bank_name,
            </if>
            create_time,
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="memberId != null and memberId != '' " >
                <![CDATA[  #{memberId}, ]]>
            </if>
            <if test="fullName != null and fullName != '' " >
                <![CDATA[  #{fullName}, ]]>
            </if>
            <if test="idCard != null and idCard != '' " >
                <![CDATA[  #{idCard}, ]]>
            </if>
            <if test="fixedType != null and fixedType != '' " >
                <![CDATA[  #{fixedType}, ]]>
            </if>
            <if test="fixedNum != null and fixedNum != '' " >
                <![CDATA[  #{fixedNum}, ]]>
            </if>
            <if test="bankName != null and bankName != '' " >
                <![CDATA[  #{bankName}, ]]>
            </if>
            NOW(),
        </trim>
    </insert>

    <!-- 更新基本信息 -->
    <update id="update" parameterType="com.pf.play.rule.core.model.consumer.ConsumerFixedModel">
        UPDATE tb_pf_consumer_fixed a
        <trim prefix="set" suffixOverrides=",">
            <if test="fixedNum != null and fixedNum != '' " >
                a.fixed_num = #{fixedNum},
            </if>
            <if test="idCard != null and idCard != '' " >
                a.id_card = #{idCard},
            </if>
            <if test="fixedType != null and fixedType != '' " >
                a.fixed_type = #{fixedType},
            </if>
            <if test="fixedNum != null and fixedNum != '' " >
                a.fixed_num = #{fixedNum},
            </if>
            <if test="bankName != null and bankName != '' " >
                a.bank_name = #{bankName},
            </if>
            a.update_time = NOW(),
        </trim>
        <include refid="Example_Where_Clause"/>
    </update>

    <!-- 主要作用1.逻辑删除，2更新状态 -->
    <update id="manyOperation" parameterType="Object">
        update tb_pf_consumer_fixed a
        <trim prefix="set" suffixOverrides=",">
            <if test="yn != 0 and yn >0 " >
                a.yn = #{yn},
            </if>
        </trim>
        <include refid="Example_Where_Clause_id"/>
    </update>



    <!-- 根据用户id查询用户基本信息、支付宝信息、钻石信息、等级信息-->
    <select id="getConsumer" parameterType="Object" resultType="com.pf.play.rule.core.model.consumer.ConsumerModel">
        select a.member_id,a.nickname,a.invite_code as phone_num,a.is_certification,a.pay_password,a.is_active,
        b.fixed_type,b.fixed_num,
        c.day_masonry,c.frozen_masonry,c.empirical_level,c.is_business,
        d.transaction_fee as ratio
        from vc_member a left join tb_pf_consumer_fixed b on a.member_id = b.member_id and b.yn = 0
        left join vc_member_resource c on a.member_id = c.member_id and c.is_valid = 1
        left join dis_empirical_value_level d on c.empirical_level = d.empirical_level and d.is_valid =1
        where 1=1
        and a.member_id = #{memberId}
    </select>

    <!-- 根据用户id查询用户基本信息、支付宝信息、钻石信息、等级信息-->
    <select id="getConsumerServiceCharge" parameterType="Object" resultType="com.pf.play.rule.core.model.consumer.ConsumerModel">
        select a.member_id,a.empirical_level,b.transaction_fee as ratio
        from vc_member_resource a left join dis_empirical_value_level b on a.empirical_level = b.empirical_level and b.is_valid =1
        where 1=1
        and a.member_id = #{memberId}
        and a.is_valid = 1
    </select>


    <!-- 修改用户的钻石-冻结 -->
    <update id="updateConsumerMasonry" parameterType="Object">
        update vc_member_resource a
        set a.day_masonry = a.day_masonry - #{addReduceNum}, a.frozen_masonry = a.frozen_masonry + #{addReduceNum}
        where 1=1
        and a.member_id = #{memberId}
    </update>


    <!-- 修改用户的钻石-解冻 -->
    <update id="updateConsumerMasonryByThaw" parameterType="Object">
        update vc_member_resource a
        set a.day_masonry = a.day_masonry + #{addReduceNum}, a.frozen_masonry = a.frozen_masonry - #{addReduceNum}
        where 1=1
        and a.member_id = #{memberId}
    </update>


    <!-- 用户资源减钻石：这里减的是冻结的钻石 -->
    <update id="updateConsumerSubtractMasonry" parameterType="Object">
        update vc_member_resource a
        set a.frozen_masonry = a.frozen_masonry - (#{addReduceNum} + 0)
        where 1=1
        and a.member_id = #{memberId}
    </update>

    <!-- 用户资源加钻石 -->
    <update id="updateConsumerAddMasonry" parameterType="Object">
        update vc_member_resource a
        set a.day_masonry = a.day_masonry + (#{addReduceNum} + 0)
        where 1=1
        and a.member_id = #{memberId}
    </update>



    <!-- 根据达人等级查询用户-->
    <select id="getConsumerByDarenLevel" parameterType="java.lang.Integer" resultType="com.pf.play.rule.core.model.consumer.ConsumerModel">
        select a.id,a.member_id,a.daren_level
        from vc_member_resource a
        where a.is_valid = 1 and a.daren_level = #{darenLevel}
    </select>






</mapper>