<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pf.play.rule.core.mapper.DisPlayFactorMapper" >
  <sql id="Base_Column_List" >
    id, play_id, play_name, table_remarks, table_value, attribute_name, attribute_value, 
    where_value, create_date, update_date, is_valid
  </sql>
  <select id="selectByPrimaryKey" resultType="com.pf.play.rule.core.model.DisPlayFactor" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from dis_play_factor
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from dis_play_factor
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.pf.play.rule.core.model.DisPlayFactor" >
    insert into dis_play_factor (id, play_id, play_name, 
      table_remarks, table_value, attribute_name, 
      attribute_value, where_value, create_date, 
      update_date, is_valid)
    values (#{id,jdbcType=BIGINT}, #{playId,jdbcType=VARCHAR}, #{playName,jdbcType=VARCHAR}, 
      #{tableRemarks,jdbcType=VARCHAR}, #{tableValue,jdbcType=VARCHAR}, #{attributeName,jdbcType=VARCHAR}, 
      #{attributeValue,jdbcType=VARCHAR}, #{whereValue,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, 
      #{updateDate,jdbcType=TIMESTAMP}, #{isValid,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.pf.play.rule.core.model.DisPlayFactor" >
    insert into dis_play_factor
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="playId != null" >
        play_id,
      </if>
      <if test="playName != null" >
        play_name,
      </if>
      <if test="tableRemarks != null" >
        table_remarks,
      </if>
      <if test="tableValue != null" >
        table_value,
      </if>
      <if test="attributeName != null" >
        attribute_name,
      </if>
      <if test="attributeValue != null" >
        attribute_value,
      </if>
      <if test="whereValue != null" >
        where_value,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="isValid != null" >
        is_valid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="playId != null" >
        #{playId,jdbcType=VARCHAR},
      </if>
      <if test="playName != null" >
        #{playName,jdbcType=VARCHAR},
      </if>
      <if test="tableRemarks != null" >
        #{tableRemarks,jdbcType=VARCHAR},
      </if>
      <if test="tableValue != null" >
        #{tableValue,jdbcType=VARCHAR},
      </if>
      <if test="attributeName != null" >
        #{attributeName,jdbcType=VARCHAR},
      </if>
      <if test="attributeValue != null" >
        #{attributeValue,jdbcType=VARCHAR},
      </if>
      <if test="whereValue != null" >
        #{whereValue,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="isValid != null" >
        #{isValid,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pf.play.rule.core.model.DisPlayFactor" >
    update dis_play_factor
    <set >
      <if test="playId != null" >
        play_id = #{playId,jdbcType=VARCHAR},
      </if>
      <if test="playName != null" >
        play_name = #{playName,jdbcType=VARCHAR},
      </if>
      <if test="tableRemarks != null" >
        table_remarks = #{tableRemarks,jdbcType=VARCHAR},
      </if>
      <if test="tableValue != null" >
        table_value = #{tableValue,jdbcType=VARCHAR},
      </if>
      <if test="attributeName != null" >
        attribute_name = #{attributeName,jdbcType=VARCHAR},
      </if>
      <if test="attributeValue != null" >
        attribute_value = #{attributeValue,jdbcType=VARCHAR},
      </if>
      <if test="whereValue != null" >
        where_value = #{whereValue,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="isValid != null" >
        is_valid = #{isValid,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pf.play.rule.core.model.DisPlayFactor" >
    update dis_play_factor
    set play_id = #{playId,jdbcType=VARCHAR},
      play_name = #{playName,jdbcType=VARCHAR},
      table_remarks = #{tableRemarks,jdbcType=VARCHAR},
      table_value = #{tableValue,jdbcType=VARCHAR},
      attribute_name = #{attributeName,jdbcType=VARCHAR},
      attribute_value = #{attributeValue,jdbcType=VARCHAR},
      where_value = #{whereValue,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      is_valid = #{isValid,jdbcType=BIT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>