<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pf.play.rule.core.mapper.VcMemberMapper" >

  <sql id="Base_Column_List" >
    member_id, owner_member_id, member_add, nickname, password, member_code, member_type, 
     invite_code, trading_address, is_certification,
    create_time, is_active, login_time, is_sett, extension_member_id,device_id,superior_id,extension_member_id,
    sex,birthday,province,city
  </sql>

  <sql id="Base_Column_ListTwo" >
    a.member_id, a.owner_member_id, a.member_add, a.nickname, a.password, a.member_code, a.member_type

  </sql>

  <select id="selectByPrimaryKey" resultType="com.pf.play.rule.core.model.VcMember" >
    select 
    <include refid="Base_Column_List" />
    from vc_member
    where 1=1
    <if test="memberCode != null and memberCode != '' " >
      and member_code = #{memberCode}
    </if>
    <if test="deviceId != null and deviceId != '' " >
      and device_id = #{deviceId}
    </if>
    <if test="inviteCode != null and inviteCode != '' " >
      and invite_code = #{inviteCode}
    </if>
    <if test="memberId != null and memberId != '' " >
      and member_id = #{memberId}
    </if>
    <if test="payPassword != null and payPassword != '' " >
      and pay_password = #{payPassword}
    </if>
  </select>


  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from vc_member
    where member_id = #{memberId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.pf.play.rule.core.model.VcMember" >
    insert into vc_member (member_id, owner_member_id, member_add, 
      nickname, password, member_code, 
      member_type,  invite_code, trading_address,
      is_certification, create_time, is_active, 
      login_time, is_sett, extension_member_id,device_id,superior_id
      )
    values (#{memberId,jdbcType=INTEGER}, #{ownerMemberId,jdbcType=INTEGER}, #{memberAdd,jdbcType=VARCHAR}, 
      #{nickname,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{memberCode,jdbcType=VARCHAR}, 
      #{memberType,jdbcType=BIT} #{inviteCode,jdbcType=VARCHAR}, #{tradingAddress,jdbcType=VARCHAR},
      #{isCertification,jdbcType=BIT}, #{createTime,jdbcType=INTEGER}, #{isActive,jdbcType=BIT}, 
      #{loginTime,jdbcType=INTEGER}, #{isSett,jdbcType=BIT}, #{extensionMemberId,jdbcType=VARCHAR},
      #{deviceId,jdbcType=VARCHAR},#{superiorId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pf.play.rule.core.model.VcMember" >
    insert into vc_member
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="memberId != null" >
        member_id,
      </if>
      <if test="ownerMemberId != null" >
        owner_member_id,
      </if>
      <if test="memberAdd != null" >
        member_add,
      </if>
      <if test="nickname != null" >
        nickname,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="memberCode != null" >
        member_code,
      </if>
      <if test="memberType != null" >
        member_type,
      </if>

      <if test="inviteCode != null" >
        invite_code,
      </if>
      <if test="tradingAddress != null" >
        trading_address,
      </if>
      <if test="isCertification != null" >
        is_certification,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="isActive != null" >
        is_active,
      </if>
      <if test="loginTime != null" >
        login_time,
      </if>
      <if test="isSett != null" >
        is_sett,
      </if>
      <if test="extensionMemberId != null" >
        extension_member_id,
      </if>
      <if test="deviceId != null" >
        device_id,
      </if>
      <if test="superiorId != null" >
        superior_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="memberId != null" >
        #{memberId},
      </if>
      <if test="ownerMemberId != null" >
        #{ownerMemberId},
      </if>
      <if test="memberAdd != null" >
        #{memberAdd},
      </if>
      <if test="nickname != null" >
        #{nickname},
      </if>
      <if test="password != null" >
        #{password},
      </if>
      <if test="memberCode != null" >
        #{memberCode},
      </if>
      <if test="memberType != null" >
        #{memberType},
      </if>
      <if test="empiricalLevel != null" >
        #{empiricalLevel},
      </if>
      <if test="darenLevel != null" >
        #{darenLevel},
      </if>
      <if test="isVitalityValue != null" >
        #{isVitalityValue},
      </if>
      <if test="inviteCode != null" >
        #{inviteCode},
      </if>
      <if test="tradingAddress != null" >
        #{tradingAddress},
      </if>
      <if test="isCertification != null" >
        #{isCertification},
      </if>
      <if test="createTime != null" >
        #{createTime},
      </if>
      <if test="isActive != null" >
        #{isActive},
      </if>
      <if test="loginTime != null" >
        #{loginTime},
      </if>
      <if test="isSett != null" >
        #{isSett},
      </if>
      <if test="extensionMemberId != null" >
        #{extensionMemberId},
      </if>
      <if test="deviceId != null" >
        #{deviceId},
      </if>
      <if test="superiorId != null" >
        #{superiorId},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pf.play.rule.core.model.VcMember" >
    update vc_member
    <set >
      <if test="ownerMemberId != null" >
        owner_member_id = #{ownerMemberId},
      </if>
      <if test="memberAdd != null" >
        member_add = #{memberAdd},
      </if>
      <if test="nickname != null" >
        nickname = #{nickname},
      </if>
      <if test="password != null" >
        password = #{password},
      </if>
      <if test="memberCode != null" >
        member_code = #{memberCode},
      </if>
      <if test="memberType != null" >
        member_type = #{memberType},
      </if>

      <if test="inviteCode != null" >
        invite_code = #{inviteCode},
      </if>
      <if test="tradingAddress != null" >
        trading_address = #{tradingAddress},
      </if>
      <if test="isCertification != null" >
        is_certification = #{isCertification},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime},
      </if>
      <if test="isActive != null" >
        is_active = #{isActive},
      </if>
      <if test="loginTime != null" >
        login_time = #{loginTime},
      </if>
      <if test="birthday != null" >
        birthday = #{birthday},
      </if>
      <if test="sex != null" >
        sex = #{sex},
      </if>
      <if test="province != null" >
        province = #{province},
      </if>
      <if test="city != null" >
        city = #{city},
      </if>
      <if test="isSett != null" >
        is_sett = #{isSett},
      </if>
      <if test="extensionMemberId != null" >
        extension_member_id = #{extensionMemberId},
      </if>
      <if test="deviceId != null" >
        deviceId = #{deviceId},
      </if>
      <if test="superiorId != null" >
        superiorId = #{superiorId},
      </if>
    </set>
    where member_id = #{memberId}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pf.play.rule.core.model.VcMember" >
    update vc_member
    set owner_member_id = #{ownerMemberId,jdbcType=INTEGER},
      member_add = #{memberAdd,jdbcType=VARCHAR},
      nickname = #{nickname,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      member_code = #{memberCode,jdbcType=VARCHAR},
      member_type = #{memberType,jdbcType=BIT},
      invite_code = #{inviteCode,jdbcType=VARCHAR},
      trading_address = #{tradingAddress,jdbcType=VARCHAR},
      is_certification = #{isCertification,jdbcType=BIT},
      create_time = #{createTime,jdbcType=INTEGER},
      is_active = #{isActive,jdbcType=BIT},
      login_time = #{loginTime,jdbcType=INTEGER},
      is_sett = #{isSett,jdbcType=BIT},
      extension_member_id = #{extensionMemberId,jdbcType=VARCHAR}
    where member_id = #{memberId,jdbcType=INTEGER}
  </update>


  <select id="selectByCodeOrAddress" resultType="com.pf.play.rule.core.model.VcMember" >
    select
    <include refid="Base_Column_ListTwo" />
    from vc_member a  inner  join   vc_third_party b
    on a.member_id =b.member_id
    where 1=1
    and (a.invite_code = #{inviteCode} or a.trading_address  = #{tradingAddress} or b.token=#{token} )
  </select>


  <!-- 更新用户的支付密码 -->
  <update id="updatePayPassword" parameterType="Object" >
    update vc_member a
    <trim prefix="set" suffixOverrides=",">
      <if test="payPassword != null and payPassword != '' " >
        a.pay_password = #{payPassword},
      </if>
    </trim>
    where 1=1
    and a.member_id = #{memberId}
  </update>


  <select id="selectByMemberId" resultType="com.pf.play.rule.core.model.VcMember" >
    select
    <include refid="Base_Column_List" />
    from vc_member
    where 1=1
    and member_id = #{memberId}
  </select>


  <select id="selectByPid" resultType="com.pf.play.rule.core.model.VcMember" >
    select
    <include refid="Base_Column_List" />
    from vc_member
    where 1=1
    and superior_id = #{superiorId}
  </select>

  <select id="selectByIsCertificationNum" resultType="com.pf.play.rule.core.model.VcMember" >
    select  IFNULL(count(member_id),0) as push_people  from   vc_member
    where  is_certification = 2
    and superior_id = #{superiorId}
  </select>


  <select id="selectIsLevel" resultType="com.pf.play.rule.core.model.VcMember" >
        select member_id from  vc_member  a
		inner  JOIN  vc_member_resource  b
		on  a.member_id =b.member_id
		where   1=1
        <if test="darenLevel != null" >
          and b.daren_level = #{darenLevel}
        </if>
        <if test="superiorId != null" >
          and a.superior_id  = #{superiorId}
        </if>
  </select>


  <select id="selectIsLevel2Where" resultType="com.pf.play.rule.core.model.VcMember" >
        select member_id from  vc_member  a
		inner  JOIN  vc_member_resource  b
		on  a.member_id =b.member_id
		where   1=1
		and  a.superior_id  =#{superiorId}
		order by  team_active  DESC
		limit  2
  </select>


  <select id="selectIsLevel2Where1" resultType="com.pf.play.rule.core.model.VcMember" >
        select member_id from  vc_member  a
		inner  JOIN  vc_member_resource  b
		on  a.member_id =b.member_id
		where   1=1
        <if test="idList != null and idList.size()>0">
          and member_id not in
          <foreach item="item" index="index" collection="idList" open="(" separator="," close=")">
            #{item}
          </foreach>
        </if>

      <if test="idList != null and idList.size()>0">
        and
      </if>
  </select>





  <select id="selectByisSynchro" resultType="com.pf.play.rule.core.model.VcMember"  parameterType="Object" >
    select member_id,superior_id  from  vc_member
    where  is_synchro = 1
    limit 2
  </select>

  <update id="updateMemberIdList" parameterType="Object" >
    update vc_member
    set  is_synchro=2
    where
    <if test="idList != null and idList.size()>0">
      member_id  in
      <foreach item="item" index="index" collection="idList" open="(" separator="," close=")">
        #{item}
      </foreach>
    </if>
  </update>

 <select id="selectLevel1" resultType="com.pf.play.rule.core.model.VcMember"  parameterType="Object" >
    select IFNULL(count(member_id),0) push_people  from  vc_member  a
    where  superior_id = #{superiorId}
    and  is_synchro=2
  </select>


  <select id="selectLevel2" resultType="com.pf.play.rule.core.model.VcMember"  parameterType="Object" >
    select member_id
        from  vc_member  a  inner JOIN  vc_member_resource b
        on   a.member_id=b.member_id
        where    a.superior_id=#{superiorId}
        and      b.daren_level>=#{darenLevel}
  </select>


  <select id="selectLevel2Above" resultType="com.pf.play.rule.core.model.VcMember"  parameterType="Object" >
        select member_id
        from  vc_member  a  inner JOIN  vc_member_resource b
        on   a.member_id=b.member_id
        where    1=1
        <if test="superiorId != null" >
          and  b.daren_level > =#{darenLevel},
        </if>
        <if test="idList != null and idList.size()>0">
          a.superior_id   in
          <foreach item="item" index="index" collection="idList" open="(" separator="," close=")">
            #{item}
          </foreach>
        </if>
  </select>


  <select id="selectAlliance" resultType="com.pf.play.rule.core.model.VcMember"  parameterType="Object" >
          select  a.member_id ,b.active_value
                from  vc_member a  inner JOIN   vc_member_resource b
                on    a.member_id=  b.member_id
                where  a.superior_id=#{superiorId}
                order  by   b.active_value desc
                limit  2
  </select>






</mapper>