<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pf.play.rule.core.mapper.VcRealNameStayHandleMapper" >

  <sql id="Base_Column_List" >
    id, create_member_id, profit_member_id, handle_member_id, curday, curhour, curminute, 
    create_time, update_time, is_valid
  </sql>
  <select id="select" resultType="com.pf.play.rule.core.model.VcRealNameStayHandle"  >
    select 
    <include refid="Base_Column_List" />
    from vc_real_name_stay_handle
    where 1=1
    and handle_type=1
    and is_valid =1
    order by  create_time DESC
    limit 1
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from vc_real_name_stay_handle
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.pf.play.rule.core.model.VcRealNameStayHandle" >
    insert into vc_real_name_stay_handle (id, create_member_id, profit_member_id, 
      handle_member_id, curday, curhour, 
      curminute, create_time, update_time, 
      is_valid)
    values (#{id,jdbcType=BIGINT}, #{createMemberId,jdbcType=INTEGER}, #{profitMemberId,jdbcType=VARCHAR}, 
      #{handleMemberId,jdbcType=VARCHAR}, #{curday,jdbcType=INTEGER}, #{curhour,jdbcType=BIT}, 
      #{curminute,jdbcType=BIT}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{isValid,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.pf.play.rule.core.model.VcRealNameStayHandle" >
    insert into vc_real_name_stay_handle
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="createMemberId != null" >
        create_member_id,
      </if>
      <if test="profitMemberId != null" >
        profit_member_id,
      </if>
      <if test="handleMemberId != null" >
        handle_member_id,
      </if>
      <if test="handleTeamNumber != null" >
        handle_team_number,
      </if>
      <if test="handleType != null" >
        handleType,
      </if>
      <if test="curday != null" >
        curday,
      </if>
      <if test="curhour != null" >
        curhour,
      </if>
      <if test="curminute != null" >
        curminute,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="isValid != null" >
        is_valid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="createMemberId != null" >
        #{createMemberId},
      </if>
      <if test="profitMemberId != null" >
        #{profitMemberId},
      </if>
      <if test="handleMemberId != null" >
        #{handleMemberId},
      </if>
      <if test="handleTeamNumber != null" >
        #{handleTeamNumber},
      </if>
      <if test="handleType != null" >
        #{handleType},
      </if>
      <if test="curday != null" >
        #{curday},
      </if>
      <if test="curhour != null" >
        #{curhour},
      </if>
      <if test="curminute != null" >
        #{curminute},
      </if>
      <if test="createTime != null" >
        #{createTime},
      </if>
      <if test="updateTime != null" >
        #{updateTime},
      </if>
      <if test="isValid != null" >
        #{isValid},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pf.play.rule.core.model.VcRealNameStayHandle" >
    update vc_real_name_stay_handle
    <set >
      <if test="createMemberId != null" >
        create_member_id = #{createMemberId,jdbcType=INTEGER},
      </if>
      <if test="profitMemberId != null" >
        profit_member_id = #{profitMemberId,jdbcType=VARCHAR},
      </if>
      <if test="handleMemberId != null" >
        handle_member_id = #{handleMemberId,jdbcType=VARCHAR},
      </if>
      <if test="curday != null" >
        curday = #{curday,jdbcType=INTEGER},
      </if>
      <if test="curhour != null" >
        curhour = #{curhour,jdbcType=BIT},
      </if>
      <if test="curminute != null" >
        curminute = #{curminute,jdbcType=BIT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="handleType != null" >
        handle_type = #{handleType},
      </if>
      <if test="isValid != null" >
        is_valid = #{isValid,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pf.play.rule.core.model.VcRealNameStayHandle" >
    update vc_real_name_stay_handle
    set create_member_id = #{createMemberId,jdbcType=INTEGER},
      profit_member_id = #{profitMemberId,jdbcType=VARCHAR},
      handle_member_id = #{handleMemberId,jdbcType=VARCHAR},
      curday = #{curday,jdbcType=INTEGER},
      curhour = #{curhour,jdbcType=BIT},
      curminute = #{curminute,jdbcType=BIT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      is_valid = #{isValid,jdbcType=BIT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>